@*
 *Author：jxx
 *Contact：283591387@qq.com
 *Date：2018-07-01
 * 此代码由框架生成，请勿随意更改
 *@
@{
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div style=" padding: 0px 5px 0px 2px; height: 100%;">

        <div id="lay-search-panel" class="panel lay-panel" style=" margin-bottom: 5px;border:0px;">
        </div>
        <div id="lay-reslut" class=" lay-reslut ">
            <table id="dataGrid"></table>
        </div>
    </div>
</body>
</html>





<script>
    
    var searchData = [[{"columnType":"string","dataSource":[],"displayType":"","text":"测试1","require":false,"id":"testUtf8"},{"columnType":"string","dataSource":[],"displayType":"","text":"测试2","require":false,"id":"testmb4"},{"columnType":"int","dataSource":[],"displayType":"","text":"y","require":false,"id":"y"}]];
    var editData = [[{"columnType":"string","dataSource":[],"displayType":"","text":"测试1","require":true,"id":"testUtf8"},{"columnType":"string","dataSource":[],"displayType":"","text":"测试2","require":false,"id":"testmb4"}],[{"columnType":"int","dataSource":[],"displayType":"","text":"y","require":false,"id":"y"},{"columnType":"datetime","dataSource":[],"displayType":"datetime","text":"timepsan","require":false,"id":"timepsan"}],[{"columnType":"string","dataSource":[],"displayType":"datetime","text":"time","require":false,"id":"time"},{"columnType":"string","dataSource":[],"displayType":"","text":"text","require":false,"id":"text"}],[{"columnType":"decimal","dataSource":[],"displayType":"","text":"db","require":false,"id":"db"},{"columnType":"string","dataSource":[],"displayType":"","text":"tt","require":false,"id":"tt"}]];


    var gridParameters = {
        loadMsg: '数据正在加载。。。。',
        //rownumbers: true,
        pageSize: 30,
        pageList: [10, 20, 30, 50, 80, 100, 200, 500, 1000],
        height: 340,
        key:'id',
        url: '/test2019/GetPageData',
        nameSpace:'',
        queryParams: {TableName:'test2019',sort:'id',Foots:' ',Wheres:'{}'},
        pagination: true,
        striped:true,
        fileLink:false,
        richText:false,
        hasSection:false,
        cnName:'test2019',
        calculateHeight:{id:'#lay-search-panel'},
        calculateWidth:{id:'#lay-search-panel',totalWidth:850,totalCol:8},
    frozenColumns: [[
     { field: 'ck', checkbox: true }
    ]],
    //showFooter: true,
        columns: [[{field:'id',title:'测试Id',datatype:'int',width:90,hidden:true,readonly:true,require:true,align:'left'},
                       {field:'testUtf8',title:'测试1',datatype:'string',width:90,editor:'text',formatter:function (val, row, index) { return $.fn.layOut('createViewField',{row:row,val:val,index:index})},require:true,align:'left',sortable:true},
                       {field:'testmb4',title:'测试2',datatype:'string',width:90,editor:'text',align:'left'},
                       {field:'y',title:'y',datatype:'int',width:90,editor:'text',align:'left'},
                       {field:'timepsan',title:'timepsan',datatype:'DateTime',width:90,editor:'datetimebox',align:'left',sortable:true},
                       {field:'time',title:'time',datatype:'string',width:90,editor:'datetimebox',align:'left'},
                       {field:'text',title:'text',datatype:'string',width:220,editor:'text',align:'left'},
                       {field:'db',title:'db',datatype:'decimal',width:90,editor:'text',align:'left'},
                       {field:'tt',title:'tt',datatype:'string',width:90,editor:'text',align:'left'}]]
    };

    var $elementGrid;
    window.onload = function () {
        $elementGrid = $('#dataGrid').datagrid(gridParameters);
    }

    var $elementDetailGrid;
    var gridDetailParameters = '';
</script>
