@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <script src="~/Scripts/login/login.js"></script>
    <title>请登陆</title>
    <style>
        .notice {
            background: #4CAF50;
            color: white;
            position: fixed;
            width: 100%;
            padding: 20px;
            font-size: 15px;
            text-align: center;
            font-weight: bold;
            z-index: 9999;
            letter-spacing: 0.5px;
        }
            .notice a {
                margin: 5px;
                color: yellow;
            }
    </style>
</head>

<body>
    <div class="notice">当前项目已迁至../Vue.Net/VOL.WebApi项目下,目前无法使用，可按照<a href="http://132.232.2.109/document/guide">http://132.232.2.109/document/guide</a>里的介绍来启动项目</div>
    <div style="height:100%;">
        <div class="content" id="content">
            <div class="log-img">
          
            </div>
            <div class="form-box" id="login-box">
                @*<div style="display:none" class="header">用户登陆</div>*@
                <div class="logo">   <span>VOL</span><span>.Core</span></div>
                <div class="body bg-gray">
                    <div class="form-group input-group">
                        <span class=" glyphicon glyphicon-user  input-group-addon"></span>
                        <input type="text" id="userName" class="form-control" placeholder="用户名">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon glyphicon glyphicon-lock"></span>
                        <input type="password" id="passWord" class="form-control" autocomplete="off" placeholder="密码">
                    </div>
                    <div class="form-group last-input">
                        <div class="code">
                            <input type="text" id="code" class="form-control" placeholder="验证码">
                        </div>
                        <div class="codeImage" style="padding:3px;">
                            <img src="/Login/GetVerificationCode" id="codeImage" onclick="refreshCode();" style="margin-left:10px;" />
                        </div>
                    </div>
                    <div class="form-group" style="display: none;margin-bottom: 0px;">
                        <div>
                            <span>
                                <input type="checkbox" class="" name="remember_me">
                            </span>
                            <span style="position: absolute; margin: 2px 5px;">  记住我</span>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div>
                        <button type="button" id="login" onclick="login();" class="btn bg-olive  btn-group col-sm-12">登   陆</button>
                    </div>

                    <div class="group-bottom">
                        <div class="group-msg">
                            <span id="msg"></span>
                        </div>
                        <div class="group-a">
                            <span class="pull-right">
                                <a class="msg"></a><a href="#">忘记密码？</a>
                                <span class="" style="color: #BDBDBD;">|</span>
                                <a href="#" class="text-center">注册</a>
                            </span>
                        </div>
                    </div>
                    <div>所有增删改查由框架定制代码生成器,0代码处理基本业务</div>
                    <div>帐号：admin123  123456</div>
                </div>
            </div>
        </div>


        <div class="b-bottom" id="b-bottom">
            <div class="footer-line2">

            </div>
            <div class="footer-line1">

            </div>
            <div>
                <div>
                    copyright © 20018-2020 All rights reserved.
                </div>
                <div>
                    北京XXX科技有限公司
                </div>
            </div>
        </div>
    </div>
</body>
</html>
