/Vol.Vue/node_modules
/Vue.Net/VOL.Web/bin
/Vue.Net/VOL.WebApi/bin
/Vue.Net/VOL.WebApi/Download/ExcelExport
/Vue.Net/VOL.WebApi/Download/Logger
/Vue.Net/VOL.WebApi/Download/SqlLog
/Vue.Net/VOL.WebApi/obj
/Vue.Net/.vs
/Vue.Net/VOL.Entity/bin
/Vue.Net/VOL.Entity/obj
/Vue.Net/VOL.AppManager/bin
/Vue.Net/VOL.AppManager/obj
/Vue.Net/VOL.Builder/obj
/Vue.Net/VOL.Builder/bin
/Vue.Net/VOL.Core/obj
/Vue.Net/VOL.Core/bin
/Vue.Net/VOL.Order/obj
/Vue.Net/VOL.Order/bin
/Vue.Net/VOL.System/obj
/Vue.Net/VOL.System/bin
/Vue.Net/VOL.Web/obj
/Vue.Net/VOL.WebApi/Download/*
/Vol.Vue/dist
/Vue.Net/VOL.WebApi/wwwroot/Upload/
/Vue.Net/VOL.Web
/开发版dev/Vue.NetCore/Vol.Vue/node_modules
/开发版dev/Vue.NetCore/Vue.Net/VOL.System/bin
/开发版dev/Vue.NetCore/Vue.Net/VOL.WebApi/bin
/开发版dev/Vue.NetCore/Vue.Net/VOL.Entity/bin
/开发版dev/Vue.NetCore/Vue.Net/VOL.Builder/bin
/开发版dev/Vue.NetCore/Vue.Net/VOL.Core/obj
/开发版dev/Vue.NetCore/Vue.Net/VOL.Builder/obj
/开发版dev/Vue.NetCore/Vue.Net/VOL.Entity/obj
/开发版dev/Vue.NetCore/Vue.Net/VOL.System/obj
/开发版dev/Vue.NetCore/Vue.Net/VOL.WebApi/obj
/开发版dev/Vue.NetCore/Vue.Net/VOL.Core/bin
