//************************************************ 
//  *Author：jxx
//  *QQ：283591387
//  *代码由框架生成,任何更改都可能导致被代码生成器覆盖
//  *业务请在#TableName.js中编写
//************************************************ 
export default function() {
	return {
		editFormFields: #editFormFileds,
		editFormOptions: #editFormOptions,
		searchFormFields: #searchFormFileds,
		searchFormOptions: #searchFormOptions,
		columns: [#columns],
		table: {
			key: '#key',
			footer: "Foots",
			cnName: '#cnName',
			name: '#TableName',
			url: "#url",
			sortName: "#SortName"
		}
	}
}
