@*
 *Author：jxx
 *Contact：283591387@qq.com
 *Date：2018-07-01
 * 此代码由框架生成，请勿随意更改
 *@
@{
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div style=" padding: 0px 5px 0px 2px; height: 100%;">

        <div id="lay-search-panel" class="panel lay-panel" style=" margin-bottom: 5px;border:0px;">
        </div>
        <div id="lay-reslut" class=" lay-reslut ">
            <table id="dataGrid"></table>
        </div>
    </div>
</body>
</html>





<script>
    
    var searchData = [];
    var editData = [];


    var gridParameters = {
        loadMsg: '数据正在加载。。。。',
        //rownumbers: true,
        pageSize: 30,
        pageList: [10, 20, 30, 50, 80, 100, 200, 500, 1000],
        height: 340,
        key:'LogId',
        url: '/App_StaticBrowserLog/GetPageData',
        nameSpace:'',
        queryParams: {TableName:'App_StaticBrowserLog',sort:'LogId',Foots:' ',Wheres:'{}'},
        pagination: true,
        striped:true,
        fileLink:false,
        richText:false,
        hasSection:false,
        cnName:'静态页面访问记录',
        calculateHeight:{id:'#lay-search-panel'},
        calculateWidth:{id:'#lay-search-panel',totalWidth:710,totalCol:6},
    frozenColumns: [[
     { field: 'ck', checkbox: true }
    ]],
    //showFooter: true,
        columns: [[{field:'LogId',title:'LogId',datatype:'int',width:80,hidden:true,readonly:true,require:true,align:'left'},
                       {field:'User_Id',title:'用户',datatype:'int',width:80,align:'left',sortable:true},
                       {field:'ServerIP',title:'ServerIP',datatype:'string',width:90,align:'left'},
                       {field:'TablePrimaryKey',title:'TablePrimaryKey',datatype:'int',width:80,align:'left'},
                       {field:'TableName',title:'TableName',datatype:'string',width:90,align:'left'},
                       {field:'Url',title:'Url',datatype:'string',width:220,align:'left'},
                       {field:'CreateDate',title:'CreateDate',datatype:'DateTime',width:150,align:'left',sortable:true}]]
    };

    var $elementGrid;
    window.onload = function () {
        $elementGrid = $('#dataGrid').datagrid(gridParameters);
    }

    var $elementDetailGrid;
    var gridDetailParameters = '';
</script>
