// *Author：jxx
// *Contact：283591387@qq.com
// *代码由框架生成,任何更改都可能导致被代码生成器覆盖
export default function(){
    const table = {
        key: '#key',
        footer: "Foots",
        cnName: '#cnName',
        name: '#TableName',
        url: "#url",
        sortName: "#SortName"
    };
    const tableName = table.name;
    const tableCNName = table.cnName;
    const newTabEdit = false;
    const key = table.key;
    const editFormFields = #editFormFileds;
    const editFormOptions = #editFormOptions;
    const searchFormFields = #searchFormFileds;
    const searchFormOptions = #searchFormOptions;
    const columns = [#columns];
    const detail =#tables1;
    const details = #tables2;

    return {
        table,
        key,
        tableName,
        tableCNName,
        newTabEdit,
        editFormFields,
        editFormOptions,
        searchFormFields,
        searchFormOptions,
        columns,
        detail,
        details
    };
}