/*这是生成的配置信息,任何修改都会被生成覆盖,如果需要修改,请在生成{#table}.vue中修改,searchFormOptions、editFormOptions、columns属性
Author:vol
 QQ:283591387
 Date:2024
*/
export default function(){
		const table = {
			tableName: "#TableName",
			tableCNName: "#cnName",
			titleField:'#titleField',
			key: '#key',
			sortName: "#SortName"
		}

	    const searchFormFields = #searchFormFileds;
	    const searchFormOptions = #searchFormOptions
        const editFormFields = #editFormFileds;
        const editFormOptions = #editFormOptions;

		const columns = [#columns];

        const detail = #tables1;
        const details = #tables2;

    return {
        table,
		searchFormFields,
		searchFormOptions,
        editFormFields,
        editFormOptions,
		columns,
		detail,
		details
    }
}