@*
 *Author：jxx
 *Contact：283591387@qq.com
 *Date：2018-07-01
 * 此代码由框架生成，请勿随意更改
 *@
@{
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div style=" padding: 0px 5px 0px 2px; height: 100%;">

        <div id="lay-search-panel" class="panel lay-panel" style=" margin-bottom: 5px;border:0px;">
        </div>
        <div id="lay-reslut" class=" lay-reslut ">
            <table id="dataGrid"></table>
        </div>
    </div>
</body>
</html>





<script>
    
    var searchData = [[{"columnType":"string","dataSource":[],"displayType":"","text":"报名人姓名","require":false,"id":"Name"},{"columnType":"string","dataSource":[],"displayType":"","text":"电话","require":false,"id":"PhoneNo"},{"columnType":"string","dataSource":[],"displayType":"","text":"公司","require":false,"id":"Company"}],[{"columnType":"datetime","dataSource":[],"displayType":"datetime","text":"申请时间","require":false,"id":"CreateDate"},{"columnType":"int","dataSource":[],"displayType":"datetime","text":"修改人ID","require":false,"id":"ModifyID"}]];
    var editData = [];


    var gridParameters = {
        loadMsg: '数据正在加载。。。。',
        //rownumbers: true,
        pageSize: 30,
        pageList: [10, 20, 30, 50, 80, 100, 200, 500, 1000],
        height: 340,
        key:'Id',
        url: '/App_CustomerJoin/GetPageData',
        nameSpace:'',
        queryParams: {TableName:'App_CustomerJoin',sort:'Id',Foots:' ',Wheres:'{}'},
        pagination: true,
        striped:true,
        fileLink:false,
        richText:false,
        hasSection:false,
        cnName:'我要加入',
        calculateHeight:{id:'#lay-search-panel'},
        calculateWidth:{id:'#lay-search-panel',totalWidth:1080,totalCol:8},
    frozenColumns: [[
     { field: 'ck', checkbox: true }
    ]],
    //showFooter: true,
        columns: [[{field:'Id',title:'主键ID',datatype:'int',width:80,hidden:true,readonly:true,require:true,align:'left'},
                       {field:'Name',title:'报名人姓名',datatype:'string',width:120,require:true,align:'left',sortable:true},
                       {field:'PhoneNo',title:'电话',datatype:'string',width:90,require:true,align:'left'},
                       {field:'Company',title:'公司',datatype:'string',width:220,require:true,align:'left'},
                       {field:'Enable',title:'是否启用',datatype:'byte',width:90,align:'left'},
                       {field:'CreateID',title:'创建人Id',datatype:'int',width:80,hidden:true,align:'left'},
                       {field:'Creator',title:'创建人',datatype:'string',width:130,align:'left'},
                       {field:'CreateDate',title:'申请时间',datatype:'DateTime',width:150,align:'left',sortable:true},
                       {field:'ModifyID',title:'修改人ID',datatype:'int',width:80,hidden:true,align:'left'},
                       {field:'Modifier',title:'修改人',datatype:'string',width:130,align:'left'},
                       {field:'ModifyDate',title:'修改时间',datatype:'DateTime',width:150,align:'left',sortable:true}]]
    };

    var $elementGrid;
    window.onload = function () {
        $elementGrid = $('#dataGrid').datagrid(gridParameters);
    }

    var $elementDetailGrid;
    var gridDetailParameters = '';
</script>
