
@{
    Layout = "~/Views/Shared/_Index.cshtml";
    ViewBag.Title = "";
}
<link href="~/Content/css/index.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-slimScroll-1.3.8/jquery.slimscroll.js"></script>
<script src="~/Scripts/home/home.js"></script>
<style>
    #notice {
        font-size: 20px;
        color: red;
        text-align: center;
        width: 100%;
        position: absolute;
        line-height: 300px;
        background: #2196f36b;
        z-index: 999999;
        top: 200px;
    }
        #notice a {
            color: red;
        }
</style>
<div class="skin-container">
    <div id="notice">当前项目已迁至../Vue.Net/VOL.WebApi项目下,目前无法使用，可按照<a href="http://132.232.2.109/document/guide">http://132.232.2.109/document/guide</a>里的介绍来启动项目</div>
    <div class="skin-head">
        <div class="head-left">
            @*<img src="~/Content/image/web_icon.jpg" />*@
            <div style="    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;">vol.core</div>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div id="head-right" class="head-right">
            <ul class="hList">
                <li>
                    <div class="home-menu">
                        <span class="icon-home"></span>
                        <ul class="home-menu-dropdown">
                            <li><a href="/">首页<i class="icon-home"></i></a></li>
                            <li style="display:none;"><a href="/">个人中心</a><i class="icon-user"> </i></li>
                            <li class="modifyPwd"><a href="javascript:void(0)">修改密码</a><i class="icon-lock"> </i></li>
                            <li><a href="/Login/Out">退出<i class="icon-remove-sign"></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="task-message animated ">
                    <span>
                        <b class="icon-comments"></b>
                        <b class="icon-message">@Html.Raw(ViewBag.AuditQty)</b>
                    </span>

                </li>
                <li style="padding-top: 9px;">
                    <span>
                        <b class="">@Html.Raw(VOL.Core.ManageUser.UserContext.Current.UserTrueName)</b>
                    </span>

                </li>
            </ul>
        </div>
    </div>
    <div class="skin-content" style="display:none;">
        <div id="menu-container">
            <ul id="menu-tree" class="list-group"></ul>
        </div>

        <div id="tabs" class="tabs">
        </div>
    </div>
</div>
<script>
    var menuList =@Html.Raw(ViewBag.MenuList);
    var auditInfo =@Html.Raw(ViewBag.AuditInfo);
    if  (@Html.Raw(ViewBag.AuditQty)>0){ //(auditInfo && auditInfo.length > 0) {
        $('.task-message').addClass('bounce');
        $.message('<span style="font-size:20px;">你有任务需要审核!</span>','#00c0ef');
    }
</script>