@*
 *Author：jxx
 *Contact：283591387@qq.com
 *Date：2018-07-01
 * 此代码由框架生成，请勿随意更改
 *@
@{
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div style=" padding: 0px 5px 0px 2px; height: 100%;">

        <div id="lay-search-panel" class="panel lay-panel" style=" margin-bottom: 5px;border:0px;">
        </div>
        <div id="lay-reslut" class=" lay-reslut ">
            <table id="dataGrid"></table>
        </div>
    </div>
</body>
</html>

@{await Html.RenderPartialAsync("~/Views/Shared/Uploader.cshtml");}



<script>
    @{ViewBag.dropDownIds = "expire,enable";}
    var searchData = [[{"columnType":"string","dataSource":[],"displayType":"","text":"会议标题","require":false,"id":"Title"},{"columnType":"int","dataSource":optionConfigexpire,"displayType":"drop","text":"会议是否载止","require":false,"id":"Expire"},{"columnType":"byte","dataSource":optionConfigenable,"displayType":"drop","text":"是否启用","require":false,"id":"Enable"}],[{"columnType":"datetime","dataSource":[],"displayType":"datetime","text":"会议发布日期","require":false,"id":"CreateDate"},{"columnType":"datetime","dataSource":[],"displayType":"datetime","text":"会议截止日期","require":false,"id":"MeetingEndDate"},{"columnType":"datetime","dataSource":[],"displayType":"datetime","text":"活动日期","require":false,"id":"MeetingDate"}]];
    var editData = [[{"columnType":"string","dataSource":[],"displayType":"","text":"会议标题","require":true,"id":"Title","colSize":12,"fileMaxCount":3}],[{"columnType":"datetime","dataSource":[],"displayType":"datetime","text":"会议截止日期","require":true,"id":"MeetingEndDate","fileMaxCount":3},{"columnType":"string","dataSource":[],"displayType":"","text":"会议地点","require":false,"id":"Location","fileMaxCount":3}],[{"columnType":"datetime","dataSource":[],"displayType":"datetime","text":"活动日期","require":true,"id":"MeetingDate","fileMaxCount":3},{"columnType":"byte","dataSource":optionConfigenable,"displayType":"drop","text":"是否启用","require":false,"id":"Enable","fileMaxCount":3}],[{"columnType":"datetime","dataSource":[],"displayType":"datetime","text":"会议发布日期","require":false,"id":"CreateDate","fileMaxCount":3,"disabled":1},{"columnType":"int","dataSource":[],"displayType":"","text":"显示排序","require":false,"id":"OrderNo","fileMaxCount":3}],[{"columnType":"string","dataSource":[],"displayType":"file","text":"会议图片","require":false,"id":"ImageUrl","colSize":12,"fileMaxCount":3}],[{"columnType":"string","dataSource":[],"displayType":"textarea","text":"会议介绍","require":false,"id":"Content","colSize":12,"fileMaxCount":3}]];


    var gridParameters = {
        loadMsg: '数据正在加载。。。。',
        //rownumbers: true,
        pageSize: 30,
        pageList: [10, 20, 30, 50, 80, 100, 200, 500, 1000],
        height: 340,
        key:'MeetingId',
        url: '/App_Meeting/GetPageData',
        nameSpace:'/AppManager',
        queryParams: {TableName:'App_Meeting',sort:'MeetingId',Foots:' ',Wheres:'{}'},
        pagination: true,
        striped:true,
        fileLink:true,
        richText:false,
        hasSection:false,
        cnName:'会议活动',
        calculateHeight:{id:'#lay-search-panel'},
        calculateWidth:{id:'#lay-search-panel',totalWidth:2130,totalCol:13},
    frozenColumns: [[
     { field: 'ck', checkbox: true }
    ]],
    //showFooter: true,
        columns: [[{field:'MeetingId',title:'主键ID',datatype:'int',width:80,hidden:true,readonly:true,require:true,align:'left'},
                       {field:'Title',title:'会议标题',datatype:'string',width:300,editor:'text',formatter:function (val, row, index) { return $.fn.layOut('createViewField',{row:row,val:val,index:index})},require:true,align:'left',sortable:true},
                       {field:'Author',title:'会议发布人',datatype:'string',width:120,hidden:true,readonly:true,editor:'text',align:'left'},
                       {field:'ReleaseDate',title:'会议发布日期(备用)',datatype:'DateTime',width:150,hidden:true,align:'left',sortable:true},
                       {field:'CreateDate',title:'会议发布日期',datatype:'DateTime',width:150,readonly:true,editor:'datetimebox',align:'left',sortable:true},
                       {field:'ImageUrl',title:'会议图片',datatype:'string',width:220,editor:'text',formatter:function (val, row, index) { return $.fn.layOut('createImageUrl',{row:row,key:'ImageUrl'})},align:'left'},
                       {field:'MeetingEndDate',title:'会议截止日期',datatype:'DateTime',width:150,editor:'datetimebox',require:true,align:'left',sortable:true},
                       {field:'Location',title:'会议地点',datatype:'string',width:220,editor:'text',align:'left'},
                       {field:'Content',title:'会议介绍',datatype:'string',width:220,editor:'text',align:'left'},
                       {field:'MeetingDate',title:'活动日期',datatype:'DateTime',width:150,editor:'datetimebox',require:true,align:'left',sortable:true},
                       {field:'Expire',title:'会议是否载止',datatype:'int',width:120,formatter: function (val, row, index) {
    return dataSourceexpire.textFormatter(optionConfigexpire, val, row, index);
    },
align:'left'},
                       {field:'Enable',title:'是否启用',datatype:'byte',width:90,editor: { type: 'combobox', options: optionConfigenable },formatter: function (val, row, index) {
    return dataSourceenable.textFormatter(optionConfigenable, val, row, index);
    },
align:'left'},
                       {field:'OrderNo',title:'显示排序',datatype:'int',width:100,editor:'text',align:'left'},
                       {field:'CreateID',title:'创建人Id',datatype:'int',width:80,hidden:true,editor:'text',align:'left'},
                       {field:'Creator',title:'发布人',datatype:'string',width:130,align:'left'},
                       {field:'ModifyID',title:'修改人ID',datatype:'int',width:80,hidden:true,align:'left'},
                       {field:'Modifier',title:'修改人',datatype:'string',width:130,align:'left'},
                       {field:'ModifyDate',title:'修改时间',datatype:'DateTime',width:150,align:'left',sortable:true}]]
    };

    var $elementGrid;
    window.onload = function () {
        $elementGrid = $('#dataGrid').datagrid(gridParameters);
    }

    var $elementDetailGrid;
    var gridDetailParameters = '';
</script>
