
.datagrid-sort .datagrid-sort-icon {
display:none;

}
.search-btns {
    margin-bottom: 5px;
    border: 0px;
    box-shadow: 2px 3px 8px 0px #B6A9A9;
    float: right;
    border: 2px solid #f7f1f1;
    /*padding: 5px;*/
    border-radius: 5px;
    /*margin-bottom: 30px;*/
    margin-right: 80px;
    margin-top: -10px;
}

.icon-caret-down {
    padding: 0 7px 0 7px;
}

/*.search-form .form-horizontal .form-group {
width: 99%;
}*/

.search-form {
    margin-left: 10px;
    margin-top: 10px;
}

.sub-btn button {
    float: right;
    margin-left: 15px;
    height: 23px;
    padding: 3px 10px;
}

#searchContent .form-horizontal {
    padding-left: 20px;
    padding-top: 10px;
}

.search-btns > button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-btns button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
ul.dropdown-menu {
      max-height: 200px;
    overflow: auto;
}
.drop-btn {
    width: 0%;
}

.search-btns-group .drop-radius {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.search-btns-group .dropdown-btn, .search-btns-group > div > .drop-radius {
    height: 28px;
}

.search-btns button {
    border: 0;
    border-radius: 0px;
    padding: 5px 14px 17px 10px;
    /*box-shadow: 2px 2px 11px 0px #999;
  
    margin-right: 10px;*/
}

/*.search-btns button:first-child {
        margin-left: 40px;
    }*/

#searchResult .panel-heading {
    padding: 4px;
    font-size: 18px;
    background: #DADADA;
}

.search-form-group {
    padding-bottom: 5px;
    border-bottom: 1px dashed #DADAC9;
    margin-bottom: 10px;
}

#search_Panel {
    overflow: visible;
}

.dropdown-menu {
    width: 100%;
    margin: 0px;
    border: none;
    border-radius: 4px;
    border-top: 1px solid #D8D6D6;
    border-left: 1px solid #D8D6D6;
    border-right: 1px solid #D8D6D6;
    padding: 0px;
}
    .dropdown-menu li > b {
        color: #037E89;
    }
.drop-list li:hover {
    cursor: pointer;
    background: #ff6a00;
    color: white;
}

.drop-list li {
    color: #777;
    padding: 7px 15px;
    border-bottom: 1px solid #D8D6D6;
}

.unit-checkbox, .unit-radio {
    display: inline;
}

    .unit-checkbox li, .unit-radio li {
        color: #db0909;
        cursor: pointer;
        list-style: none;
        float: left;
        margin-right: 7px;
        padding: 4px 8px;
        font-weight: 700;
        border-radius: 4px;
    }

        .unit-checkbox li:hover, .unit-radio li:hover {
            background: #9e0f0f;
            color: white;
        }

li.unit-checkbox-active, li.unit-radio-active {
    color: white;
    background: #ff6a00;
}

.input-sm {
    padding: 0px 10px;
    height: 26px;
}

select.form-control option {
    padding-top: 10px;
}

.dropdown-btn {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    padding: 4px 10px 4px 10px;
    height: 26px;
}

.search-form .input-group[class*="col-"] {
    float: left;
    padding-right: 0;
    padding-left: 0;
}

.search-form input[readonly=readonly], .search-form .textbox-text {
    background: white;
}

.search-btns .btn {
    height: 28px;
    border-right: 1px solid;
    background: rgb(0, 150, 136);
}

    .search-btns .btn span {
        margin-left: 7px;
    }

.searchWindow {
    box-shadow: 2px 2px 11px 0px #777;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    display: block;
    width: 1000px;
    left: 154px;
    /*top: 27px;*/
    z-index: 9007;
    position: absolute;
}

    .searchWindow .panel-body {
        padding: 10px;
        overflow: auto;
        overflow-y: auto;
        word-wrap: break-word;
    }

    .searchWindow .body-edit {
        background: #FDFAFA;
        padding: 10px;
        margin: 9px;
        border: 1px solid #eee;
  
        box-shadow: 0px 0px 10px 0px #999;
    }

.search-form .input-sm {
    padding: 0px 10px;
    height: 26px;
}

.searchWindow .panel-footer {
    padding: 3px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /*width: 100%;*/
    position: relative;
    bottom: 0px;
}

.searchWindow .panel-heading {
    letter-spacing: 3px;
    font-size: 14px;
    color: #fff;
    padding: 7px 10px;
}

/*滚动条样式*/
.searchWindow .panel-body::-webkit-scrollbar,ul.dropdown-menu::-webkit-scrollbar { /*滚动条整体样式*/
    width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

.searchWindow .panel-body::-webkit-scrollbar-thumb,ul.dropdown-menu::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: #DADAC9;
}

.searchWindow .panel-body::-webkit-scrollbar-track,ul.dropdown-menu::-webkit-scrollbar-track{
    border-radius: 0;
}



.searchWindow .heading-edit {
    color: #fff;
    background-color: #f39c12;
}

.searchWindow .heading-alert {
    letter-spacing: 3px;
    font-size: 14px;
    color: #fff;
    background-color: #D32619;
    padding: 9px 9px;
}

.searchWindow .panel-heading:hover {
    cursor: pointer;
}

.searchWindow .panel-heading span:hover {
    color: #DADAC9;
}

.searchWindow .alert {
    padding: 10px;
}

.alert-z-index {
    border-radius: 7px;
    box-shadow: 1px 6px 10px 1px #C6B5B5;
    z-index: 99999;
}

.searchWindowl .panel-heading:hover {
    cursor: pointer;
}

.searchWindow .panel-footer > div {
    float: right;
}


.searchWindow .panel-footer .btn {
    margin-right: 10px;
    /*margin-left: 5px;*/
    font-size: 10px;
    padding: 5px 10px;
    /*float: right;*/
    letter-spacing: 5px;
}

.panel-div {
    border: 1px solid #E1D2D2;
    box-shadow: 2px 2px 11px 0px #C2C1C1;
    border-radius: 5px;
    background: white;
}

.panel-ul {
    width: 99%;
    padding: 0px;
    list-style: none;
    /*margin-left: -5%;*/
    margin-right: 10%;
}

    .panel-ul > li:first-child {
        margin-top: 10px;
    }

    .panel-ul > li label {
        white-space: nowrap;
        color: #9B9898;
        padding-top: 7px;
        text-align: right;
    }

    .panel-ul .form-group {
        margin-bottom: 5px;
    }

    .panel-ul > li {
        margin-left: 0px !important;
        margin-right: 0px !important;
        /*margin-bottom: 0px;*/
    }

.search-form .panel-ul > li {
    border-bottom: 1px dotted #f2dede;
}

.panel-ul > li > div {
    margin-bottom: 10px;
}

.div-group {
    display: table;
}

/*.div-group*/
.dropdown-btn {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 4px 10px 4px 10px;
    height: 26px;
}

.drop-radius {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-color: white;
    border-bottom: 1px solid #F1E4E4;
}
.datagrid-wrap.panel-body{
 border:0px;
}
.datagrid-row,.datagrid-td-rownumber {
background:white;
}
.datagrid-header-row, .datagrid-header-row,.datagrid-header-inner {
      background: #ebf7ff;
}
.datagrid-pager {
      background: white;
}
.datagrid-row-alt,.datagrid-row-alt > .datagrid-td-rownumber {
    background: #fff7fa !important;
}
